<div class="p-4">
    <div class="flex gap-5 bg-white">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <div>
        <h2 class="font-bold">Name</h2>
        <p>0 posts</p>
        </div>
    </div>
    <div>
    <div class="bg-blue-10 w-[100%] min-h-[30vh]"><img src="" alt=""></div>
    <div class="bg-brown-500 mt-[-10] border rounded-full w-25 h-25">
        <img src="" alt="">
        
    </div>
    <button routerLink="/edit" class="rounded w-[8vw] h-[4vh] align-right" >Edit profile</button>
    </div>
<div>
    <h2 class="font-bold">fullname</h2>
    <p>username</p>
    <p>description</p>
    <div><p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;location</p></div>
    <div class="flex gap-5"><p>Following</p><p>Followers</p></div>   
</div>
<div>
    <h3>Posts</h3>
    <h3>Likes</h3>
</div>
</div>