<div class="flex items-start justify-between flex-col h-[85vh] gap-5 p-10">
    <div class="w-[20vw] flex gap-8 flex-col">
        <h1 class="font-bold italic text-5xl">Talky</h1>
        <h2 class="text-4xl">
            <i class="fa-solid fa-house-user text-4xl"></i>Home
        </h2>
        <h2 class="text-4xl">
            <i class="fa-solid fa-magnifying-glass text-4xl"></i>Explore
        </h2>
        <button class="bg-blue-300 w-[10vw] rounded-box font-bold">Post</button>
    </div>
    <div class="w-[20vw] flex flex-col gap-8">
        <h2 class="text-4xl">
            <i class="fa-solid fa-right-from-bracket text-4xl"></i>Logout
        </h2>
        <h2 class="text-4xl">
            <i class="fa-solid fa-circle-user text-4xl"></i>
        </h2>
    </div>
</div>
