<!-- <div class=" p-4 align-center flex items-center justify-center flex-col rounded border-3 border border-gray-300 w-[25vw] ml-auto mr-auto  mt-12 h-[85vh]">
    <h2 class="font-bold">Personal Profile</h2>
    <hr>
    <i class="fa-duotone fa-user"></i>
    
    <form action="" class="flex flex-col gap-5 mt-[40px] mb-[50px]">
        <label for="username"></label>
        <input type="text" placeholder="Username" class="bg-gray-300 h-[5vh] text-black-900 w-[20vw] text-center rounded-full border">
        <label for="email"></label>
        <input type="email" placeholder="email" class="bg-gray-300 h-[5vh] text-black-900 w-[20vw] text-center rounded-full border">
        <label for="phonenumber"></label>
        <input type="number" placeholder="phonenumber" class="bg-gray-300 h-[5vh] text-black-900 w-[20vw] text-center rounded-full border">
        <button class="bg-blue-300 w-[10vw] text-center h-[5vh] item-end  rounded-full border text-black-900 font-bold mt-4">update</button>
    </form>
    
</div> -->


<div class="border border-gray-300 w-[40vw] ml-auto mr-auto  mt-12 flex flex-col">
    <div class="sticky top-0 flex justify-between p-4">
        <h1 class="font-bold text-xl">Edit Profile</h1>
        <button class="rounded border-3 bg-black text-white h-[5vh] w-[4vw]">save</button>
    </div>
    <div>
        <div class="bg-slate-200 w-[100%] min-h-[30vh]"><img class="h-[35vh] w-full object-cover" src="https://media.istockphoto.com/id/1252210017/photo/smiling-girl-playing-on-the-swing.jpg?s=2048x2048&w=is&k=20&c=r7Cb7OjvBm1Cd46eL8wrFQRWKFqhvQOWIm_Uavqz5wo=" alt=""></div>
        <div class="bg-stone-700 mt-[-60px] border w-32 h-32 rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1466112928291-0903b80a9466?q=80&w=1746&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">     
         </div>
    </div>
    <form action="" class="flex flex-col gap-10 mt-[40px] mb-[20px] items-center">
        <input type="text" placeholder="Name" class=" h-[8vh] w-[35vw] p-4 border border-gray-300 rounded ">
        <input type="text" placeholder="username" class="border border-gray-300 rounded h-[8vh] text-black w-[35vw] p-4">
        <input type="text" placeholder="Bio" class="border border-gray-300 rounded h-[15vh] text-black w-[35vw] p-4">
        <input type="text" placeholder="Location" class="border border-gray-300 rounded h-[8vh] text-black-900 w-[35vw] p-4">
        
    </form>
</div>