<!-- <div class=" p-4 align-center flex items-center justify-center flex-col rounded border-3 border border-gray-300 w-[25vw] ml-auto mr-auto  mt-12 h-[85vh]">
    <h2 class="font-bold">Personal Profile</h2>
    <hr>
    <i class="fa-duotone fa-user"></i>
    
    <form action="" class="flex flex-col gap-5 mt-[40px] mb-[50px]">
        <label for="username"></label>
        <input type="text" placeholder="Username" class="bg-gray-300 h-[5vh] text-black-900 w-[20vw] text-center rounded-full border">
        <label for="email"></label>
        <input type="email" placeholder="email" class="bg-gray-300 h-[5vh] text-black-900 w-[20vw] text-center rounded-full border">
        <label for="phonenumber"></label>
        <input type="number" placeholder="phonenumber" class="bg-gray-300 h-[5vh] text-black-900 w-[20vw] text-center rounded-full border">
        <button class="bg-blue-300 w-[10vw] text-center h-[5vh] item-end  rounded-full border text-black-900 font-bold mt-4">update</button>
    </form>
    
</div> -->


<div>
    <div>navbar</div>
    <div>
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <form action="">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="username">
        <input type="text" placeholder="Bio">
        <input type="text" placeholder="Location">
        
    </form>
</div>