<div class=" p-4 align-center flex items-center justify-center flex-col rounded border-3 border border-gray-300 w-[23vw] ml-auto mr-auto h-[75vh] mt-12">
    <h1 class="font-bold text-5xl italic">Talky</h1>
    <form class="flex flex-col gap-10 mt-[40px] mb-[20px]" action="" >
        <input type="email" placeholder="Email" class="bg-gray-300 h-[5vh] text-black-900 w-[20vw] text-center">
        <input type="password" placeholder="Password" class="bg-gray-300 h-[5vh] text-black-900 w-[20vw] text-center">
        <button (click)="login()" class="bg-blue-300 w-[20vw] h-[5vh] text-white text-center">Login</button>
    </form>
    <p routerLink="" class="mb-4">Forgot password?</p>
    <p>Don't Have an Account? <span routerLink="/register" class="text-blue-400">Sign Up</span></p>
</div>
