<div class="flex justify-between bg-gray-100 p-5">
    <div class="flex">
        <img class="w-[50px]" src="https://cdn.vectorstock.com/i/1000x1000/07/51/letter-t-logo-flat-icon-style-vector-5660751.webp" alt="">
        <h1 class="italic text-4xl font-bold">Talky</h1>
    </div>
    
    <div  class=" flex gap-6 ">
      <button (click)="openModal()" class="w-[8vw] h-[5vh] border border-gray-300 bg-blue-300">Get Started</button>
      <button (click)="loginModal()" class="w-[8vw] h-[5vh] border border-gray-300 bg-blue-300">Login</button>

    </div> 
</div>
<div>
  <img src="https://images.unsplash.com/photo-1562577309-4932fdd64cd1?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
</div>

