<div class="flex justify-between p-5">
    <div>
        <img class="w-[60px]" src="https://cdn.vectorstock.com/i/1000x1000/07/51/letter-t-logo-flat-icon-style-vector-5660751.webp" alt="">
    </div>
    <div><form class="flex items-center justify-center">
        <input
          type="text"
          class="border border-gray-300 p-2 rounded-l-full focus:outline-none"
          placeholder="Search..."
        />
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-full"
        >
          Search
        </button>
      </form>
      </div>
    <div>
        <button>+ Upload</button>
        <button class="bg-blue-300">login</button>
    </div>
</div>
<hr>
