<div class=" p-4 align-center flex items-center justify-center flex-col rounded border-3 border border-gray-300 w-[30vw] ml-auto mr-auto h-[85vh] mt-12">
    <h1 class="italic font-bold text-5xl">Talky</h1>
    <p class="mt-6"><i>sign Up to see your friends <br>photos and posts</i></p>
    <button class="bg-blue-300 mt-4 mb-4 w-[20vw] h-[5vh] text-center">Login with Facebook</button>
    <h4><i>Or</i></h4>
    <form action="" class="flex flex-col gap-10 mt-4 mb-4">
        <input type="text" placeholder="Username" class=" w-[20vw] h-[5vh] bg-gray-300 text-black placeholder-center text-center">
        <input type="email" placeholder="Email" class=" w-[20vw]  h-[5vh] bg-gray-300 text-center">
        <input type="password" placeholder="Password" class=" h-[5vh] w-[20vw] bg-gray-300 text-center">
        <button class="bg-blue-300 text-white  w-[20vw] h-[5vh] text-center">Register</button>
    </form>
    <p>Already Have an Account? <span class="text-blue-300">Login</span></p>
</div>
